--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.13.0+cpu
bs4
gradio>=5.42.0
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openrouter>=0.2.3
langchain-pinecone
langgraph
pinecone
python-dotenv
requests
sentence-transformers
tqdm